<% if logged_in? %>
  <h1>Students</h1>

  <div id="wrapper">
    <div class="student-names">
      <ul>
        <% @students.each do |student| %>
          <li><%= link_to student.full_name, student_path(student), remote: true %></li><br>
        <% end %>
      </ul>
    </div>
    <div class="ajax-details">
    </div>
  </div>
<% else %>
 <h1>Please login to view this page.</h1>
<% end %>
