/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
  margin: 10px;
  padding: 0;
}

h1  {
  font-family: 'verdana';
}

a {
  font-family: 'verdana';
  text-decoration: none;
  color: #4599d1;
}

.container {
  padding: 16px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.main-content {
  padding-top: 50px;
}

#navigation-bar {
  overflow: hidden;
  background-color: #6495ED;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
}

#navigation-bar .site-name {
  float: left;
  display: block;
  font-family: 'Lobster', serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 4px 4px 4px #aaa;
  color: #fcfaf9;
  text-align: center;
  padding: 14px 16px;
}

#navigation-bar .nav-text {
  float: right;
  display: block;
  font-family: serif;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.index-nav-text {
  float: left;
  display: block;
  font-family: serif;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.display-buttons {
  display: flex;
  margin: 5px;
  padding: 10px;
}

.display-buttons a {
  font-family: serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 4px #74ede7;
  font-size: 55px;
  text-decoration: none;
}

#teachers-buttons {
  background: #4599d1;
  background-image: -webkit-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -moz-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -ms-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -o-linear-gradient(top, #4599d1, #2f75a1);
  background-image: linear-gradient(to bottom, #4599d1, #2f75a1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #5c585c;
  -moz-box-shadow: 0px 1px 3px #5c585c;
  box-shadow: 0px 1px 3px #5c585c;
  padding: 12px 25px 12px 25px;
  margin-right: 8px;
}

#teachers-buttons:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#students-buttons {
  background: #4599d1;
  background-image: -webkit-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -moz-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -ms-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -o-linear-gradient(top, #4599d1, #2f75a1);
  background-image: linear-gradient(to bottom, #4599d1, #2f75a1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #5c585c;
  -moz-box-shadow: 0px 1px 3px #5c585c;
  box-shadow: 0px 1px 3px #5c585c;
  padding: 12px 25px 12px 25px;
}

#students-buttons:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#edit-button, #add-button, #update-button, #unassign-button {
  background: #4599d1;
  background-image: -webkit-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -moz-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -ms-linear-gradient(top, #4599d1, #2f75a1);
  background-image: -o-linear-gradient(top, #4599d1, #2f75a1);
  background-image: linear-gradient(to bottom, #4599d1, #2f75a1);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #5c585c;
  -moz-box-shadow: 0px 1px 3px #5c585c;
  box-shadow: 0px 1px 3px #5c585c;
  padding: 7px 20px 7px 20px;
  border: solid #1f628d 2px;
  text-align: center;
  margin-top: 10px;
}

#edit-button a {
  font-family: serif;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
}

#add-button {
  font-family: serif;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
}

#update-button {
  font-family: serif;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  width: 10%;
}

#unassign-button {
  font-family: serif;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
  width: 10%;
}

#edit-button:hover, #add-button:hover, #update-button:hover, #unassign-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#wrapper {
  width: 100%;
}

.student-names {
  display: inline-block;
  float: left;
}

#add-edit-section {
  width: 25%;
}

.ajax-details {
  width: 70%;
  margin-right: 40px;
  padding-top: 15px;
  float: right;
}
